In [3]:
import pandas as pd
import numpy as np
import ta
from datetime import datetime

# Convert the date series to date object
def Bollinger_band(data):
    data['date'] = pd.to_datetime(data['date'])

    # Calculate the ratio series
    #data['close'] = data['High'] / data['low']

    # Apply Bollinger Band indicator
    

    # Initialize variables for tracking trades
    entry_date = None
    entry_price = None
    exit_date = None
    exit_price = None
    trade_type=None
    trades = []

    # Perform trading strategy
    for i in range(len(data)-1):
        if data['signal'].iloc[i]=='Buy':
                entry_date = data['date'].iloc[i]
                entry_price = data['close'].iloc[i]
                exit_date = data['date'].iloc[i+1]
                exit_price = data['close'].iloc[i+1]
                trade_type='Buy'
        elif data['signal'].iloc[i]=='Short':
                entry_date = data['date'].iloc[i-1]
                entry_price = data['close'].iloc[i-1]
                exit_date = data['date'].iloc[i]
                exit_price = data['close'].iloc[i]
                trade_type='Short'
        trades.append([entry_date, entry_price, exit_price, exit_date,trade_type])
        entry_date = None
        entry_price = None
        exit_date = None
        exit_price = None
        trade_type = None

    # Create DataFrame for trades
    trades_df = pd.DataFrame(trades, columns=['Entry_date', 'Entry_price', 'Exit_price', 'Exit_date','Type'])
    return trades_df

# Read the data from CSV file
data5  = pd.read_csv('data_5min_Buy_short.csv')
data15 = pd.read_csv('data_15min_Buy_short.csv')
data30 = pd.read_csv('data_30min_Buy_short.csv')
data1h = pd.read_csv('data_1h_Buy_short.csv')
data4h = pd.read_csv('data_4h_Buy_short.csv')

# Apply Bollinger Bands strategy and get trades
result5  = Bollinger_band(data5)
result15 = Bollinger_band(data15)
result30 = Bollinger_band(data30)
result1h = Bollinger_band(data1h)
result4h = Bollinger_band(data4h)

# Write trades to CSV files
result5.to_csv('data_5min_Buy_short_bollinger.csv', index=False)
result15.to_csv('data_15min_Buy_short_bollinger.csv', index=False)
result30.to_csv('data_30min_Buy_short_bollinger.csv', index=False)
result1h.to_csv('data_1h_Buy_short_bollinger.csv', index=False)
result4h.to_csv('data_4h_Buy_short_bollinger.csv', index=False)

In [4]:
result5.head(20)

            Entry_date  Entry_price  Exit_price           Exit_date   Type
0                  NaT          NaN         NaN                 NaT   None
1  2011-01-03 09:15:00     11892.55    11906.65 2011-01-03 09:20:00  Short
2  2011-01-03 09:20:00     11906.65    11896.30 2011-01-03 09:25:00  Short
3  2011-01-03 09:25:00     11896.30    11893.65 2011-01-03 09:30:00  Short
4  2011-01-03 09:30:00     11893.65    11906.55 2011-01-03 09:35:00  Short
5  2011-01-03 09:35:00     11906.55    11903.35 2011-01-03 09:40:00  Short
6  2011-01-03 09:40:00     11903.35    11897.70 2011-01-03 09:45:00  Short
7  2011-01-03 09:45:00     11897.70    11896.10 2011-01-03 09:50:00  Short
8  2011-01-03 09:50:00     11896.10    11895.15 2011-01-03 09:55:00  Short
9  2011-01-03 09:55:00     11895.15    11902.30 2011-01-03 10:00:00  Short
10 2011-01-03 10:05:00     11895.30    11877.25 2011-01-03 10:10:00    Buy
11 2011-01-03 10:10:00     11877.25    11874.35 2011-01-03 10:15:00    Buy
12 2011-01-03 10:15:00     11874.35    11867.70 2011-01-03 10:20:00    Buy
13 2011-01-03 10:20:00     11867.70    11849.65 2011-01-03 10:25:00    Buy
14 2011-01-03 10:20:00     11867.70    11849.65 2011-01-03 10:25:00  Short
15 2011-01-03 10:25:00     11849.65    11847.75 2011-01-03 10:30:00  Short
16 2011-01-03 10:30:00     11847.75    11853.10 2011-01-03 10:35:00  Short
17 2011-01-03 10:35:00     11853.10    11861.70 2011-01-03 10:40:00  Short
18 2011-01-03 10:40:00     11861.70    11841.10 2011-01-03 10:45:00  Short
19 2011-01-03 10:45:00     11841.10    11857.40 2011-01-03 10:50:00  Short

In [6]:
data5.head(20)

,Unnamed: 0,date,open,High,low,close,signal
0,0,2011-01-03 09:15:00,11882.10,11900.90,11873.35,11892.55,NaN
1,1,2011-01-03 09:20:00,11892.55,11909.20,11892.55,11906.65,Short
2,2,2011-01-03 09:25:00,11906.65,11907.75,11894.05,11896.30,Short
3,3,2011-01-03 09:30:00,11897.40,11899.00,11882.95,11893.65,Short
4,4,2011-01-03 09:35:00,11893.65,11907.65,11892.20,11906.55,Short
5,5,2011-01-03 09:40:00,11906.55,11908.05,11901.05,11903.35,Short
6,6,2011-01-03 09:45:00,11903.55,11906.55,11894.45,11897.70,Short
7,7,2011-01-03 09:50:00,11897.70,11902.70,11892.35,11896.10,Short
8,8,2011-01-03 09:55:00,11896.10,11896.10,11887.45,11895.15,Short
9,9,2011-01-03 10:00:00,11895.15,11902.65,11892.15,11902.30,Short
10,10,2011-01-03 10:05:00,11901.55,11901.65,11893.55,11895.30,Buy
11,11,2011-01-03 10:10:00,11895.30,11895.95,11877.15,11877.25,Buy
12,12,2011-01-03 10:15:00,11877.25,11879.05,11871.50,11874.35,Buy
13,13,2011-01-03 10:20:00,11874.35,11874.35,11865.20,11867.70,Buy
14,14,2011-01-03 10:25:00,11867.70,11869.35,11844.90,11849.65,Short
15,15,2011-01-03 10:30:00,11849.65,11851.35,11841.85,11847.75,Short
16,16,2011-01-03 10:35:00,11847.75,11853.60,11843.85,11853.10,Short
17,17,2011-01-03 10:40:00,11853.10,11861.70,11850.40,11861.70,Short
18,18,2011-01-03 10:45:00,11862.25,11862.50,11841.10,11841.10,Short
19,19,2011-01-03 10:50:00,11841.10,11857.40,11840.15,11857.40,Short